extends layout

block content
 div
  div(class="row m-0", style="padding-left:10px;padding-right:10px")
   div(class="col orders-header") Place an Order
  div(class='row m-0', style="padding-left:10px;padding-right:10px")
   div(class='col orders-body')
    div(class="order-list-main")      
     nav(id="navbar-example2", role="tablist", class="navbar navbar-light bg-light px-3 position-relative justify-content-around")
      ul(class="nav nav-tabs")
       each service in services
        li(class="nav-item")
         a(class="nav-link d-none d-lg-block", href= "#" + service.href)= service.type + "  "
          img(src=service.imgSrc)
         a(class="nav-link d-lg-none", href= "#" + service.href) 
          img(src=service.imgSrc)
    div(data-spy="scroll", data-target="#navbar-example2", data-offset="0", class="orders-form-body")    
     div(class='row m-0', style="height:3000px;background-color:#DBF2FF")      
      div(class="col-lg-4 order-form", style="height:auto;background-color:white;border:2px")
       div(id="bScreens")
        form
         include newScreensForm 
       hr 
       div(id="bWindows")
        form
         include newWindowsForm
       hr 
       div(id="rScreens")
        form
         include restoreScreensForm 
       hr 
       div(id="rWindows")
        form
         include restoreWindowsForm 
       hr 
       div(id="cGlass")
        form
         include cutGlassForm 
       button.btn.btn-primary.btn-block.footer.mb-2(type='submit') Submit
      div(class="col-lg-4 d-none d-lg-block")
        each service in services
         img(src=service.imgSrc, width="50%", height="auto", class="p-5 m-4")
      div(class="col-lg-4 d-none d-lg-block", style="background-color:white;height=auto")
       h4 ORDER
        each cart in carts
         p= cart.quantity

  
     